{% extends 'layout.html.twig' %} {% block title %}Mot de passe oublié{% endblock
%} {% block content %}
<h1>Mot de passe oublié</h1>
<form method="post">
    <label for="email">Adresse e-mail :</label>
    <input type="email" name="email" id="email" required /><br />

    <label for="new_password">Nouveau mot de passe :</label>
    <input
        type="password"
        name="new_password"
        id="new_password"
        required
    /><br />

    <button type="submit">Réinitialiser le mot de passe</button>
</form>
{% endblock %}
