{% extends 'layout.html.twig' %} 
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/pswreset.css">{% endblock %}
{% block title %}Réinitialisation réussie{%endblock %}

 {% block content %}
 <div class="container">
 <div class='form'>
<P class="title">Réinitialisation réussie</P>
<p> Votre mot de passe a été réinitialisé avec succès.</p><br>
<p> Voici votre nouveau mot de passe : {{ newPassword }}</p>
</div>
</div>
{% endblock %}
