{% extends 'layout.html.twig' %}

 {% block title %}Réinitialisation réussie{% endblock %} 
 {% block stylesheet %}<link rel="stylesheet" href="/assets/css/password_reset_success.css">{% endblock %}
 {% block content %}
<p>Réinitialisation réussie</p>
<p>
    Votre mot de passe a été réinitialisé avec succès. Voici votre nouveau mot
    de passe : {{ newPassword }}
</p>
{% endblock %}
