{% extends 'layout.html.twig' %}

{% block title %}Page de Confidentialite{% endblock %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/confidentialite.css"> {% endblock %}

{% block content %}
<div class="contentconfidentialite"> 
    <h1> POLITIQUE DE CONFIDENTIALITE </h1>
    <p> Politique de Confidentialité pour Bump </p>
        <p> Dernière mise à jour : 09/11/2023 </p>
        <p> Chez Bump, nous accordons une grande importance à la protection de la vie privée de nos visiteurs. Cette politique de confidentialité décrit comment nous recueillons, utilisons et partageons les informations que vous nous fournissez lorsque vous visitez notre site web [www.Bump.com]. En utilisant notre site, vous consentez à cette politique de confidentialité. </p>
        <h3> Collecte d'Informations </h3>
        <p> Lorsque vous visitez notre site de blog, nous pouvons collecter des informations personnelles vous concernant de diverses manières, notamment : </p>
        <p> 1.1. Informations d'Identification Personnelle : Nous pouvons collecter des informations telles que votre nom, adresse e-mail, et d'autres informations personnelles lorsque vous vous inscrivez sur notre site, commentez nos articles, ou nous contactez via nos formulaires. </p>
        <p> 1.2. Données d'Utilisation : Nous pouvons recueillir des informations sur la façon dont vous utilisez notre site, telles que les pages que vous visitez, la durée de votre visite, et les liens sur lesquels vous cliquez. </p>
        <p> 1.3. Cookies et Technologies Similaires : Nous utilisons des cookies et d'autres technologies de suivi pour collecter des informations sur votre comportement de navigation et personnaliser votre expérience sur notre site. </p>
        <h3> Utilisation des Informations </h3>
        <p>Nous utilisons les informations que nous collectons pour les finalités suivantes : </p>
        <p> 2.1. Fournir et Améliorer nos Services : Nous utilisons vos informations pour vous fournir du contenu, des fonctionnalités, et des services personnalisés, ainsi que pour améliorer notre site web. </p>
</div>
{% endblock %}