{% extends 'layout.html.twig' %}

{% block title %}editer un article{% endblock %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/edit.css"> {% endblock %}

{% block content %}
<div class="edit"> 
    
</div>
{% endblock %}