{% block footer %}
<footer>
    <div class="footer-content">
        <div class="contact-info">
            <h1>Contact</h1>
            <p><a href="notre équipe.html">Notre équipe</a></p> 
            <p><a href="mailto:xxxxxxx@gmail.com">xxxxxxx@gmail.com</a></p>
        </div>
        <div class="privacy-policy">
            <h1>Informations</h1>
            <p><a href="/confidentialite">Politique de confidentialité</a></p>
        </div>
        <div class="logo">
            <img src= 'https://image.noelshack.com/fichiers/2023/45/1/1699267466-logofooter.png' alt="Logo du Blog">
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Wild Code School | Promo PHP Bordeaux</p>
    </div>
</footer>
{% endblock %}
