<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/profil">Profil de l'utilisateur connecté</a></li>
        <li><a href="/logout">Se déconnecter</a></li>
        <li><a href="/register">S'inscrire</a></li>
        <li><a href="/login">Se connecter</a></li>
    </ul>
</nav>
