{% extends 'layout.html.twig' %}

{% block title %}A propos de nous{% endblock %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/propos.css"> {% endblock %}

{% block content %}
<h1> BUMP </h1>
<div class="contentpropos">
        <img src = " https://previews.123rf.com/images/ramcreative/ramcreative1502/ramcreative150200029/37178427-travail-d-%C3%A9quipe-pour-les-ordinateurs-en-ligne-strat%C3%A9gie-d-entreprise-projets-de-d%C3%A9veloppement-la.jpg " alt= "photo de group">
        <p> bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    <div class="info">
        <img src= 'https://image.noelshack.com/fichiers/2023/45/1/1699267466-logofooter.png' alt="Logo du Blog">
        
    </div>
</div>
{% endblock %}