.titre {
    justify-content: center;
    text-align: center;
    color: var(    --primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

form {
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #CC9C65;
    border-radius: 1px;

}

label {
    display: block;
    margin-bottom: 5px;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input,
textarea {
   
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}


 p {
    color: var(--primary-color);
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; 
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
 } 
 .submit {
    display: flex;
    position: relative;
    border: 0;
    background: transparent;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding: 6px 12px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
    transition: all .2s;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

.submit::after{
    content: "";
    width: 350px;
    height:150px;
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
  }
  
.submit:hover::after{
  transform: rotate(150deg);
  }
  
.submit:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
  } 
/* Style spécifique pour CKEditor */
.cke {
    margin-top: 10px;
}

/*Mobile*/ @media only screen and (max-width: 767px) {
    
}

/*Tablettes*/ @media only screen and (min-width: 768px) and (max-width: 1199px) {
     /*Styles spécifiques pour les écrans entre 768px et et 1199px de large*/
     }

/*Desktop*/ @media only screen and (min-width: 1200px) {
     /*Styles spécifiques pour les écrans de 1200px et plus*/
     }