.titre {
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
}  


body {
   line-height: 1.6;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
    width: 60%;
    margin: 0 auto;
    
}
form {
   
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

strong {

    font-size: 24px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    justify-content:flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*input,
textarea {
   
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}*/


 p {
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify; 
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
 } 
 .submit {
    display: flex;
    position: center ;
    border: 0;
    background: transparent;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding: 6px 12px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
    transition: all .2s;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

.submit::after{
    content: "";
    width: 350px;
    height:150px;
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    position: absolute;
    top: -50px;
    /* left: -100px; */
    z-index: -1;
  }
  
.submit:hover::after{
  transform: rotate(150deg);
  }
  
.submit:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
  }  
/* Style spécifique pour CKEditor */
.cke {
    margin-top: 5px;
}
.div-text-center{
  text-align: center;
  margin-top: 8px;
}
/*Mobile*/ @media only screen and (max-width: 767px) { /*Styles spécifiques pour les écrans jusqu'à 767px de large*/ }

/*Tablettes*/ @media only screen and (min-width: 768px) and (max-width: 1199px) { /*Styles spécifiques pour les écrans entre 768px et et 1199px de large*/ }

/*Desktop*/ @media only screen and (min-width: 1200px) { /*Styles spécifiques pour les écrans de 1200px et plus*/ }