.contenant {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: auto;
    width: 80%
  }

.edit
body, h1, h2, h3, p, label, button {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

form {
    max-width: 600px;
    margin: 20px auto;

}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
   
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}


button:hover {
    background-color: #45a049;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; 
    margin-top: 50px;
    
 } 

/* Style spécifique pour CKEditor */
.cke {
    margin-top: 10px;
}