footer {
    background-color: var(--primary-color);
    color: var(--second-color);
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info a,
.privacy-policy a {
    color: #cc9c65;
    text-decoration: none;
}

.logo img {
    max-width: 200px;
    align-items: center;
}

.copyright p {
    margin: 0;
}
