.logo-container{
  margin-right: auto;
  height: 60px;
}

.logo-container img {
  height: 100%; 
  width: 135px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  height: 100px;
  top: 0;
  left: 0;
  background-color: #233521;
  border: 2px #CC9C65 solid; 
}

.white{
  /* list-style-type: none; */
  border: solid #CC9C65 2px;
  background-color: #fff;
  height: 60px;
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.inscrire{
  margin-left: auto;
  padding: 8px 14px;
  box-sizing: border-box;
  border: 2px solid #CC9C65;
  background-color: #fff;
  color:#fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  width: 8rem;
}

.connexion{
  margin-left: auto;
  padding: 8px 14px;
  box-sizing: border-box;
  border: 2px solid #CC9C65;
  background-color: #fff;
  color:#fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  width: 8rem;
}

.deconnexion{
  margin-left: auto;
  padding: 8px 14px;
  box-sizing: border-box;
  border: 2px solid #CC9C65;
  background-color: #fff;
  color:#fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  width: 10rem;
}

.homepage{
  display: flex;
  list-style-type: none;
  /* padding: 0; */
  justify-content: center;
}

.homepage li{
  margin-right: 20px;
}

.button{
  margin-right: 35px;
}

.accueil-button{
  position: relative;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  padding: 6px 12px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
  transition: all .2s;
  overflow: hidden;
  font-size: 16px;
}

.accueil-button::after{
  content: "";
  width: 350px;
  height:150px;
  background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}

.accueil-button:hover::after{
transform: rotate(150deg);
}

.accueil-button:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
}

.profil-button{
  position: relative;
  border: 0;
  background: transparent;
  color: #233521;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  padding: 6px 12px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
  transition: all .2s;
  overflow: hidden;
  font-size: 16px;
}

.profil-button::after{
  content: "";
  width: 350px;
  height:150px;
  background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}

.profil-button:hover::after{
transform: rotate(150deg);
}

.profil-button:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
}

.contact-button{
  position: relative;
  border: 0;
  background: transparent;
  color: #233521;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  padding: 6px 12px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
  transition: all .2s;
  overflow: hidden;
  font-size: 16px;
}

.contact-button::after{
  content: "";
  width: 350px;
  height:150px;
  background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}

.contact-button:hover::after{
  transform: rotate(150deg);
}

.contact-button:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
}

.log{
  position: absolute;
  right: 0;
}

.no-disc{
  list-style-type: none;
}
.menu-icon{
  display: none;
}

.ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: transparent;
  color: #233521;
}

.popup {
  display: none;
  position: fixed;
  top: 110px;
  right: 10px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: larger;
  text-align: center;
}

.popup-content {
  background-color: #fff;
  border: 3px solid #CC9C65;
  padding: 15px;
}

a {
  color: #233521;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .button {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.desktop-menu {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .desktop-menu {
    display: none; 
  }

  .mobile-menu {
    display: flex;
  }

  .desktop-menu button {
    align-items: center; 

  }
}
