
p {
    color: var(--primary-color);
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; 
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
 } 

 /*Mobile*/ @media only screen and (max-width: 767px) { /*Styles spécifiques pour les écrans jusqu'à 767px de large*/ }

/*Tablettes*/ @media only screen and (min-width: 768px) and (max-width: 1199px) { /*Styles spécifiques pour les écrans entre 768px et et 1199px de large*/ }

/*Desktop*/ @media only screen and (min-width: 1200px) { /*Styles spécifiques pour les écrans de 1200px et plus*/ }