.contentpropos {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: var(--primary-color);
    color: var(--fourth-color);
    text-align: center;
    padding: 30px;
    
}


body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    justify-content: center ;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}
.submit-container {
    text-align: center;
}
a.submit {
    display: flex;
    position: center ;
    border: 0;
    background: transparent;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding: 6px 12px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px #233521(39, 200, 255, .5);
    transition: all .2s;
    overflow: hidden;
    margin: left ;
    justify-content:flex-start;
    text-align: center;
  }

a.submit::after{
    content: "";
    width: 350px;
    height:150px;
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    position: absolute;
    top: -50px;
    /* left: -100px; */
    z-index: -1;
  }
  
a.submit:hover::after{
  transform: rotate(150deg);
  }
  
a.submit:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
  } 

div.border {
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #CC9C65;
    border-radius: 1px;
}
div.info {
    display: flex;
    align-items:center ;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Mobile*/ @media only screen and (max-width: 767px) { /*Styles spécifiques pour les écrans jusqu'à 767px de large*/ }

/*Tablettes*/ @media only screen and (min-width: 768px) and (max-width: 1199px) { /*Styles spécifiques pour les écrans entre 768px et et 1199px de large*/ }

/*Desktop*/ @media only screen and (min-width: 1200px) { /*Styles spécifiques pour les écrans de 1200px et plus*/ }



