.contentpropos{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: var(--primary-color);
    color: var(--second-color);
    text-align: center;
    width: 100%;
    padding: 30px;
}
.contentpropos img {
    max-width: 600px;
}

.contentflex {
    display: flex;
    flex-direction: row;
}

address {
    margin-top: 20px;
}

.propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.propos img {
    max-width: 200px;
}
