
  h1 {
    background-color: var(--primary-color);
    color: var(--second-color);
    text-align: center;
    padding: 30px;
    margin: 0px;
    margin-bottom: 50px;
  }

  .flexArticle {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 80%;   
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.flexArticle h2 {
    color: var(--second-color); 
    text-align: center;
}

.date {
    font-style: italic;
}

.author {
    font-style: italic;
    color: #6941C6;
}

.flexArticle li {
    width: 45%;
    list-style: none;
    padding: 10px;
    border: 2px solid var(--second-color);
    margin-bottom: 30px;
    overflow: hidden; /* Masque le surplus de contenu */
    box-shadow: 10px 5px 5px lightgrey;
}

.flexArticle li p {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden; /* Masque le surplus de texte */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour indiquer qu'il y a plus de texte */
}

@media only screen and (max-width: 834px) {
    .flexArticle {
        width: 95%;
        padding: 0;
    }

    .flexArticle li h2 {
        font-size: 24px; /* Rétablir la taille du texte */
    }

}

@media only screen and (max-width: 450px) {
    .flexArticle {
        width: 95%; /* Occuper la largeur complète de l'écran */
        padding: 0;
    }
    
    .flexArticle li {
        width: 100%; /* Occuper la largeur complète de l'écran */
    }
    
    .flexArticle li h2 {
        font-size: 18px; /* Ajuster la taille du texte pour les écrans plus petits */
    }

    main h1 {
        padding: 5px;
        margin-bottom: 5px;
    }
}