.contenant,
.bouton,
.btn-comments,
.auteur,
.ajouter,
.container,
h1,
h2,
.comments,
form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.commentaire {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#233521;
}

.utilisateur {
    /* color:#6941C6;
    font-style: italic; */
}

.comments {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#233521;
    justify-content: flex-start;

}
.contenant {
    margin: auto;
    margin-bottom: 12px;
}

.bouton,
.ajouter,
.btn-comments {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 12px;
    margin-right: 10px;
    box-sizing: border-box;
    color: #333;
    background: transparent;
    padding: 4px 10px;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    font-size: 12px;
    border: 2px solid #cc9c65;
    width: 6rem;
}

.bouton:hover,
.btn-comments:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
}

.auteur,
.utilisateur,
.li,
.commentaire,
.comments {
    margin: auto;
    margin-bottom: 12px;
}

.auteur {
    color:#6941C6;
    font-style: italic;
}

.commentaire {
    color:#233521;
}

.container {
    max-width: 800px;
    margin: auto;
}

textarea {
    margin-bottom: 30px; 
}


.contenant h1 {
    font-size: 2em;
    color: #233521;
}

h2 {
    margin-bottom: 12px;
}

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
    .contenant {
        width: 95%;
        padding: 0;
    }
    .contenant h1 {
        font-size: 1.5rem;
    }
    .contenant p {
        text-align: justify;
    }
}
