.contenant {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    background-color: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    width: 80%;
    padding: 20px; 
    box-sizing: border-box;
}

.editer,
.supprimer,
.retour,
.edit,
.suppr,
.ajouter {
    margin-left: 0;
    float: left;
    margin-left: 0;
    position: relative;
    box-sizing: border-box;
    border: 0;
    background: #fff;
    display: flex;
    color: #233521;
    padding: 4px 10px;
    margin-bottom: 6px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, 0.5),
        0px 0px 0px 0px rgba(39, 200, 255, 0.5);
    transition: all 0.2s;
    overflow: hidden;
    font-size: 12px;
    border: 2px solid #cc9c65;
    width: 6rem;
    margin-right: 10px;
}

.e,
.s {
content: "";
width: 350px;
height:150px;
background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
position: absolute;
top: -50px;
left: -100px;
z-index: -1;
}

.auteur {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6941C6;
    font-style: italic;
}

.comments {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;

}

/* 
.utilisateur {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
} */

.editer::after,
.suppr::after,
.retour::after {
    content: "";
    width: 350px;
    height:150px;
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
}
  
.editer:hover::after,
.suppr:hover::after,
.retour:hover::after {
  transform: rotate(150deg);
}
  
.editer:hover,
.suppr:hover::after,
.retour:hover::after {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
  } 

.li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6941C6;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #233521;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: auto;
    background-color: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    width: 80%;
    color: #233521;
    font-size: 2em;;
}

.commentaire {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: auto;
    width: 80%;
    color:#233521;

}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.e,
.s {
content: "";
width: 350px;
height:150px;
background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
position: absolute;
top: -50px;
left: -100px;
z-index: -1;
}

.ajouter::after{
    content: "";
    width: 350px;
    height:150px;
    background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
}
  
.ajouter:hover::after{
  transform: rotate(150deg);
}
  
.ajouter:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
} 

.edit::after{
  content: "";
  width: 350px;
  height:150px;
  background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}

.edit:hover::after{
transform: rotate(150deg);
}

.edit:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
} 


.supprimer::after{
  content: "";
  width: 350px;
  height:150px;
  background: linear-gradient(200deg, #CC9C65 0%, #fff 90%, #CC9C65 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}

.supprimer:hover::after{
transform: rotate(150deg);
}

.supprimer:hover{
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 #233521(143, 64, 248, .25), -10px 10px 25px 0px rgba(39,200,255,.25);
} 

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
}

