.contenant,
.bouton,
.btn-comments,
.auteur,
.comments,
.utilisateur,
.li,
.container,
h1,
h2,
.commentaire,
.comments,
form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.contenant {
    margin: auto;
    margin-bottom: 12px;
}

.bouton,
.btn-comments {
    float: left;
    margin-left: 0;
    margin-bottom: 12px;
    margin-right: 10px;
    box-sizing: border-box;
    color: #333;
    padding: 4px 10px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.2s;
    overflow: hidden;
    font-size: 12px;
    border: 2px solid #cc9c65;
    width: 6rem;
}

.bouton:hover,
.btn-comments:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

.auteur,
.utilisateur,
.li,
.commentaire,
.comments {
    margin: auto;
    margin-bottom: 12px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 2em;
    color: #233521;
}

h2 {
    margin-bottom: 12px;
}

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }
}
