{% extends 'layout.html.twig' %} 
{% block title %}Ajouter un article{% endblock %} 
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/add.css">{% endblock %}

{% block content %}
<p>Ajouter un article</p>
<form method="post">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" required /><br />

    <label for="content">Contenu :</label>
    <textarea name="content" id="content" required></textarea><br />

    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("content");
    </script>

    <label for="image">Image (facultatif) :</label>
    <input type="text" name="image" id="image" /><br />

    <button class="submit" type="submit">Ajouter</button>
</form>

{% endblock %} 
