{% extends 'layout.html.twig' %} 
{% block title %}Ajouter un article{% endblock %} 
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/add.css">{% endblock %}

{% block content %}
 <h1>Ajouter un article</h1>
<div class="contenant">
<form method="post">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" required /><br />

    <label for="content">Contenu :</label>
    <textarea name="content" id="content" required></textarea><br />

    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("content");
    </script>

    <label for="image" id="hiddenImg">Image (facultatif) :</label>
    <input type="text" name="image" id="imageInput" /><br />

    <div for="categories">Catégories (facultatif):</div>
        <div id="categories">
            {% for category in categories %}
                <div class="checkbox">
                    <div id = "batman">
                        <input type="checkbox" name="categories[]" value="{{ category.id }}">
                        {{ category.name }}
                    </div>
                </div>
            {% endfor %}
        </div><br />
     <!-- Champ pour une nouvelle catégorie -->
    <label for="new_category">Ajouter une catégorie (facultatif) :</label>
    <input type="text" name="new_category" id="new_category" /><br />

    <button class="submit" type="submit">Ajouter</button>
    </div>
</div>    
</form>

{% endblock %} 
