{# Formulaire pour ajouter un commentaire à un article #}
<form method="post" action="/article/{{ article.id }}/comment/add">
    <label for="content">Commentaire :</label>
    <textarea name="content" id="content" required></textarea><br />
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("content");
    </script>

    <button type="submit">Ajouter le commentaire</button>
</form>
