{% extends 'layout.html.twig' %} 
{% block title %}Supprimer un article{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/delete.css">{% endblock %} 

{% block content %}
<P>Supprimer l'article</P>
<p>Êtes-vous sûr de vouloir supprimer cet article ?</p>
<label><strong>Titre :</strong> {{ article.title }}</label>
<label><strong>Contenu :</strong> {{ article.content | raw }}</label>
<form method="post">

    <button class= "submit" type="submit">Confirmer la suppression</button>
    <div class='div-text-center'><a href="/profil" class= "submit">Annuler</a></div>   
</form>

 

{% endblock %}
