{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	- Connexion
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1>Connexion</h1>
			<form action="/login" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Adresse e-mail:</label>
					<input class="form-control" type="email" id="email" name="email" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Mot de passe:</label>
					<input class="form-control" type="password" id="password" name="password" required>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Se connecter</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
