{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1>Créer un profil</h1>
			<p>Remplissez les champs pour vous inscrire et créer votre profil</p><br>
			<form action="" method="post">
				<div class="mb-3">
					<label for="name" class="form-label">Ton nom d'utilisateur</label>
					<input class="form-control" type="text" id="name" name="name" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Ton Email</label>
					<input class="form-control" type="email" id="email" name="email" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Ton mot de passe</label>
					<input class="form-control" type="password" id="password" name="password" required>
				</div>
				<div class="mb-3">
					<label for="title" class="form-label">Titre de ton blog</label>
					<input class="form-control" type="text" id="title" name="title" required>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Description de ton blog</label>
					<input class="form-control" type="text" id="description" name="description" required>
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-success">Create account</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
