{% block content %}
	<h1>Connexion</h1>
	<form method="POST" action="connexion.php">
		<label for="username">Nom d'utilisateur :</label>
		<input type="text" name="username" id="username" required><br><br>

		<label for="password">Mot de passe :</label>
		<input type="password" name="password" id="password" required><br><br>

		<button type="submit">Se connecter</button>
	</form>
{% endblock %}
