{% extends 'layout.html.twig' %} 

{% block title %}Éditer un commentaire{% endblock %} 

{% block content %}
<h1>Éditer le commentaire</h1>
<form method="post">
    <label for="content">Contenu :</label>
    <textarea name="content" id="content" required>{{ comment.content }}</textarea><br />
    <button type="submit">Enregistrer</button>
</form>
{% endblock %}
